/*topbar容器的基础高度*/
/*footer容器的高度*/
/*菜单宽度*/
/*项高度*/
.ct-container {
  margin-top: 80px;
  clear: both;
  /*background-color: @ct-bgColor;*/
}
.ct-container .middle-padding {
  padding: 6%;
}
.ct-container h2 {
  color: #b90000;
  text-align: center;
  font-weight: 100;
}
.ct-container .red {
  color: #b90101;
}
.ct-container .nopadding {
  padding: 0;
}
.ct-container .nobottom {
  margin-bottom: 0px;
}
.ct-container .noborder {
  border: 0px;
}
.ct-container .line {
  position: relative;
  top: 0px;
  left: 0px;
  height: 3px;
  background-color: #eab8b7;
  margin-left: -0.8em;
  margin-right: -0.8em;
  margin-bottom: 0.9em;
}
.ct-content {
  padding: 0.8em;
  background-color: white;
  margin-top: 8px;
}
.ct-content p {
  text-indent: 1em;
  color: #8b8b8b;
}
.ct-page {
  text-align: center;
}
.ct-topbar {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  z-index: 902;
  background-color: white;
  box-shadow: 0 1px 10px #ccc;
  /*左右按钮元素*/
  /*Logo元素*/
}
.ct-topbar > div {
  width: 20%;
  height: 80px;
  text-align: center;
}
.ct-topbar .topbar {
  position: absolute;
  top: 0px;
  z-index: 999;
  line-height: 80px;
  vertical-align: middle;
}
.ct-topbar .topbar img {
  max-height: 20px;
}
.ct-topbar .topbar-left {
  position: absolute;
  top: 0px;
  z-index: 999;
  line-height: 80px;
  vertical-align: middle;
  left: 0px;
}
.ct-topbar .topbar-left img {
  max-height: 20px;
}
.ct-topbar .topbar-right {
  top: 0px;
  z-index: 999;
  line-height: 80px;
  vertical-align: middle;
  right: 5px;
  text-align: right;
  position: absolute;
  display: block;
  z-index: 903;
}
.ct-topbar .topbar-right img {
  max-height: 20px;
}
.ct-topbar .topbar-right img {
  margin-right: 5px;
}
.ct-topbar .logo {
  display: table-cell;
  vertical-align: middle;
}
.ct-topbar .logo img {
  max-height: 35px;
}
.ct-topbar .logo-default {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.ct-topbar .logo-default img {
  max-height: 35px;
}
.ct-topbar .logo-left {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 0.8em;
}
.ct-topbar .logo-left img {
  max-height: 35px;
}
.ct-label-plane {
  padding: 1em;
}
.ct-label-plane label {
  color: black;
  width: auto;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color: gray;
  border: 1px solid #eeeeee;
  margin-left: 0.5em;
}
.ct-label-plane .yellow {
  background-color: #fef2dc;
  color: #feba31;
  border: 1px solid #ffbb32;
}
.ct-label-plane .red {
  background-color: #fee2e1;
  border: 1px solid #ff9fa0;
  color: #ff7777;
}
.ct-label-plane .orange {
  background-color: #fdddc6;
  color: #ec6102;
  border: 1px solid #f1904c;
}
.ct-label-plane::after {
  content: "";
  display: block;
  clear: both;
}
body {
  font-size: 0.8em;
  font-family: 微软雅黑;
  padding: 0px;
  margin: 0px;
  background-color: #f6f6f6;
}
.ct-nav-right {
  background-color: #e6e6e6;
  height: 100%;
  width: 50%;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 903;
  text-align: left;
  display: none;
}
.ct-nav-right .nav-item {
  height: 3em;
  background-color: yellow;
  width: 100%;
}
.ct-nav-right ul {
  padding-left: 1em;
  padding-right: 1em;
  margin: 0px;
  list-style-type: none;
}
.ct-nav-right li {
  height: 3em;
  font-size: 1.1em;
  border-bottom: 1px solid #cacaca;
  line-height: 3em;
  padding-left: 1.7em;
  color: #5b5b5b;
}
.ct-nav-right li a {
  text-decoration: none;
  color: #5b5b5b;
}
.ct-nav-right .select {
  color: #e55d5f;
}
.ct-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 902;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  display: none;
}
.ct-nav-search {
  margin-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.ct-nav-search [ct-type=search] {
  background-color: #e6e6e6;
  border: 1px solid #cacaca;
  border-radius: 5px;
  max-width: 85%;
  height: 1.4em;
  background-image: url("../img/ct-search.png");
  background-repeat: no-repeat;
  background-position: 95% 4px;
  background-size: 13px;
  padding-right: 20px;
}
[ct-type=more] {
  position: relative;
  top: 0px;
  background-color: #b80000;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  width: 130px;
  border-radius: 30px;
  text-align: center;
  margin-right: 10px;
  box-shadow: 2px 1px 1px -1px gray;
  /*
  margin-left: auto;
  margin-right: auto;
  */
  margin-top: 2em;
  margin-bottom: 1em;
  border: 0px;
  font-weight: bold;
}
/*内容搜索*/
.ct-content-search {
  margin-bottom: 1.5em;
}
.ct-content-search [ct-type=search] {
  border: 1px solid #dcdcdc;
  float: left;
  color: gray;
  width: 100%;
  height: 30px;
  padding-left: 2%;
  width: 81.9%;
}
.ct-content-search div:last-child {
  width: 15%;
  float: left;
  border: 1px solid #dcdcdc;
  border-left: 0px;
  height: 32px;
  text-align: center;
  line-height: 40px;
}
.ct-content-search img {
  max-height: 60%;
}
.ct-content-search::after {
  content: "";
  display: block;
  clear: both;
}
